{% extends 'weather/base.html' %}
{% block content %}


<br/>
<br/>

<!--Google map section-->
<style>
    html, body{
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
    #map-canvas {
      margin: auto;
      width: 67%;
      height: 40%;
    }
    .gm-style-iw {
      text-align: center;
    }
  </style>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv-MuTb7g-KALHN9aXD23DKDjvnYSlhFU">
</script>
<!--script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDv-MuTb7g-KALHN9aXD23DKDjvnYSlhFU&callback=initMap">
</script-->


<script>
  var map;
  var geoJSON;
  var request;
  var gettingData = false;
  var openWeatherMapKey = "faa30bca64456bb8655bdda8f22865c3"

  function initialize() {
    var mapOptions = {
      zoom: 4,
      center: new google.maps.LatLng(20, -20)
    };

    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);
    // Add interaction listeners to make weather requests
    google.maps.event.addListener(map, 'idle', checkIfDataRequested);

    // Sets up and populates the info window with details
    map.data.addListener('click', function(event) {
      infowindow.setContent(
       "<img src=" + event.feature.getProperty("icon") + ">"
       + "<br /><strong>" + event.feature.getProperty("city") + "</strong>"
       + "<br />" + event.feature.getProperty("temperature") + "&deg;C"
       + "<br />" + event.feature.getProperty("weather")
       );
      infowindow.setOptions({
          position:{
            lat: event.latLng.lat(),
            lng: event.latLng.lng()
          },
          pixelOffset: {
            width: 0,
            height: -15
          }
        });
      infowindow.open(map);
    });
  }

  var checkIfDataRequested = function() {
    // Stop extra requests being sent
    while (gettingData === true) {
      request.abort();
      gettingData = false;
    }
    getCoords();
  };

  // Get the coordinates from the Map bounds
  var getCoords = function() {
    var bounds = map.getBounds();
    var NE = bounds.getNorthEast();
    var SW = bounds.getSouthWest();
    getWeather(NE.lat(), NE.lng(), SW.lat(), SW.lng());
  };

  // Make the weather request
  var getWeather = function(northLat, eastLng, southLat, westLng) {
    gettingData = true;
    var requestString = "http://api.openweathermap.org/data/2.5/box/city?bbox="
                        + westLng + "," + northLat + "," //left top
                        + eastLng + "," + southLat + "," //right bottom
                        + map.getZoom()
                        + "&cluster=yes&format=json"
                        + "&APPID=" + openWeatherMapKey;
    request = new XMLHttpRequest();
    request.onload = proccessResults;
    request.open("get", requestString, true);
    request.send();
  };

  // Take the JSON results and proccess them
  var proccessResults = function() {
    console.log(this);
    var results = JSON.parse(this.responseText);
    if (results.list.length > 0) {
        resetData();
        for (var i = 0; i < results.list.length; i++) {
          geoJSON.features.push(jsonToGeoJson(results.list[i]));
        }
        drawIcons(geoJSON);
    }
  };

  var infowindow = new google.maps.InfoWindow();

  // For each result that comes back, convert the data to geoJSON
  var jsonToGeoJson = function (weatherItem) {
    var feature = {
      type: "Feature",
      properties: {
        city: weatherItem.name,
        weather: weatherItem.weather[0].main,
        temperature: weatherItem.main.temp,
        min: weatherItem.main.temp_min,
        max: weatherItem.main.temp_max,
        humidity: weatherItem.main.humidity,
        pressure: weatherItem.main.pressure,
        windSpeed: weatherItem.wind.speed,
        windDegrees: weatherItem.wind.deg,
        windGust: weatherItem.wind.gust,
        icon: "http://openweathermap.org/img/w/"
              + weatherItem.weather[0].icon  + ".png",
        coordinates: [weatherItem.coord.Lon, weatherItem.coord.Lat]
      },
      geometry: {
        type: "Point",
        coordinates: [weatherItem.coord.Lon, weatherItem.coord.Lat]
      }
    };
    // Set the custom marker icon
    map.data.setStyle(function(feature) {
      return {
        icon: {
          url: feature.getProperty('icon'),
          anchor: new google.maps.Point(25, 25)
        }
      };
    });

    // returns object
    return feature;
  };

  // Add the markers to the map
  var drawIcons = function (weather) {
     map.data.addGeoJson(geoJSON);
     // Set the flag to finished
     gettingData = false;
  };

  // Clear data layer and geoJSON
  var resetData = function () {
    geoJSON = {
      type: "FeatureCollection",
      features: []
    };
    map.data.forEach(function(feature) {
      map.data.remove(feature);
    });
  };

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class='mb-3' id="map-canvas"></div>
<div class='mb-3' id="map-canvas"></div>



<!-- Current city weather data section -->
<section class="section" name='card-section'>
        <div class="container">
            <div class="row justify-content-start">

                    <div class='col-6'>
                        <div class='sticky-md-top'>

                    <div class="card mb-2" style='background-color: #C0C0C0;'>
                        <div class='card-body'>
                            <div class='container'>
                            <div class="row align-items-start">
                                <h2 class='card-title' style='margin-bottom: -2%;'> Current weather<h2>
                            </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class='card-body'>
                            <div class='container'>
                            <div class="row align-items-start">

                                <div class='col-1' style='width: 16%;'>
                                    <p class='text-muted' style='font-size: 12px;'>{{ weather.timestamp }}</p>
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                                </div>

                                <div class="col mt-4">
                                    <h1 class="card-title">{{ weather.city }}</h1>
                                    <h2 class="card-text"><strong>{{ weather.temperature }}° f</strong></h2><br/>
                                        <h5 class='card-subtitle mb-2 text-muted'> {{ weather.description }}</h5>
                                </div>

                                <div class='col-6'>
                                    <p>Feels like: {{ weather.temp_feels_like }}°</p>
                                    <hr/>
                                    <p>Min: {{ weather.temp_min }} Max: {{ weather.temp_max }}</p>
                                    <hr/>
                                    <p>Humidity: {{ weather.humidity }}%</p>
                                    <hr/>
                                    <p>Wind: {{ weather.wind }} MPH</p>
                                    <hr/>
                                    <p>and another</p>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>

                    <!--Map feature-->
                    <div class="card mb-5" style='background-color: #C0C0C0;'>
                        <div class='card-body'>
                            <h2 class='card-title'>map<h2>
                            <div class='container'>

                            <div class='mb-3' id="map-canvas"></div>

                            <img class='p-1' style='height: 35rem;' src='https://previews.123rf.com/images/ket4up/ket4up1707/ket4up170700042/81563570-gps-navigation-background-road-map-vector-illustration.jpg'/>
                            <!--div class="row align-items-start"-->
                            </div>
                        </div>
                    </div>

                    </div>
                    </div>



                    <!-- Hourly weather data section -->
                    <div class='col-6'>

                    <div class="card mb-2" style='background-color: #C0C0C0;'>
                        <div class='card-body'>
                            <div class='container'>
                            <div class="row align-items-start">
                                <h2 class='card-title' style='margin-bottom: -2%;'> Hourly weather<h2>
                            </div>
                            </div>
                        </div>
                    </div>

                    {% for hour in weather.hourly_weather_list %}
                    <div class="card mb-4">
                        <div class='card-body'>
                        <div class='container'>
                            <div class="row align-items-start">

                                <div class='col-2 mt-4' style='width: 20%; margin-left: -4%;'>
                                    <p style='font-size: 14px; margin-top: -45%;'>{{ hour.hourly_date }}</p>
                                    <strong>{{ hour.hourly_time }}</strong>
                                </div>

                                <div class='col-1 mt-2' style='width: 10%;'>
                                    <img src="http://openweathermap.org/img/w/{{ hour.hourly_icon }}.png" alt="Image">
                                </div>

                                <div class='col-3 mt-3' style='width: 28%;'>
                                    <h3><strong>{{ hour.hourly_temperature }}° f</strong></h3>
                                    <p class='text-muted' style='margin-top: -8%;'>{{ hour.hourly_description}}
                                </div>

                                <div class='col-2 mt-3' style='width: 20%;'>
                                    <p class='text-muted' style='margin-top: 9%;'>Feels like:</p>
                                    <p class='text-muted' style='margin-top: -21%;'>{{ hour.hourly_feels_like }}%</p>
                                </div>

                                <div class='col-1 mt-2' style=''>
                                    <iconify-icon icon="wi:raindrops" style='font-size: 80px;'></iconify-icon> 
                                </div>

                                <div class='col-2 mt-2' style=''>
                                    <p class='text-muted' style='margin-top: 37%; margin-left: 35%;'>{{ hour.hourly_precipitation }}%</p>
                                </div>



                                <!--div class='col-3 mt-3' style=''>
                                    <p>Feels like: {{ hour.hourly_feels_like }}</p>
                                </div-->
                            </div>
                        </div>
                        </div>
                    </div>

                    {% endfor %}





        </div>
    </section>




{% endblock content %}



            <div class="row justify-content-end">
                <div class="col-1">
                </div>
                    <div class='col-6'>
                    <div class="card mb-4">
                        <div class='card-body'>
                            <div class='container'>
                            <div class="row align-items-start">

                                <div class='col-1' style='width: 16%;'>
                                    <p class='text-muted' style='font-size: 12px;'>{{ weather.timestamp }}</p>
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                                </div>

                                <div class="col mt-4">
                                    <h2 class="card-title">{{ weather.city }}</h2>
                                        <h5 class="card-text">{{ weather.temperature }}</h5>
                                        <p class='card-subtitle mb-2 text-muted'> {{ weather.description }}</p>
                                </div>

                                <div class='col-6'>
                                    <p>Feels like: {{ weather.temp_feels_like }}</p>
                                    <hr/>
                                    <p>Min: {{ weather.temp_min }} Max: {{ weather.temp_max }}</p>
                                    <hr/>
                                    <p>Humidity: {{ weather.humidity }}%</p>
                                    <hr/>
                                    <p>Wind: {{ weather.wind }} MPH</p>
                                    <hr/>
                                    <p>and another</p>
                                </div>


                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
